*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Lemon', serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

.navbar-brand {
    color: #1982c4;
  }

  .bg-body-tertiary {
    background-color:none;
  }

  .myBtn {
    color: white;
    background-color: #02a4de;
  }

.hreo{
    width: 100%;
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hreo2{
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #666666;
background-image: url('https://images.unsplash.com/photo-1532787799187-93655e51d472?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-position: center;
background-size: cover;
background-repeat: no-repeat;

}

/* Style the video: 100% width and height to cover the entire window */
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .logo{
    width: 100px;
    cursor: pointer;
  }

  .navbar{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
  }

  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
  }

  .navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
  }

  .button{
    color: seashell;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid plum;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }

  .content{
    color: #fffdfd;
    position: absolute;
    top: 50%;
    left: 8%;
    z-index: 2;
    transform: translateY(-50%)
  }

  .content h1{
    font-size: 85px;
    color: #fffdfd;

    line-height: 80px;
  }

  .side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0%;
    top: 0;
  }

  .menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
  }

  .social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
  }

  .social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .useful-links{
    width:50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
  }
  
  .feature-img{
     border: 1px solid;
        padding: 5px;
        width: 30%;
        margin-bottom: 10px;
  }

  @media (main-aspect-ratio:16/9) {
    .background-clip{
      width: 100%;
      height: auto;
    }
  }

  @media (main-aspect-ratio:16/9) {
    .background-clip{
      width: auto;
      height: 100%;
    }
  }

  .card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
  }

  .img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
  }

  .img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #ffffff;
    margin-top: -80%;
  }

  .card:hover .img2 img{
    border-color: darkcyan;
    transition: .7s;
  }

  .main-text{
    padding: 30px 0;
    text-align: center;
  }

  .main-text h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
  }